body {
    padding-bottom: 30px;
    font-family: 'Baloo Da 2', cursive;
  }
 /********START OF NAVIGATION STYLES**************/
  #menu a{
      font-size: 1.3em;
      color: white;
      background-color: black;
  }
  #menu a:hover{
      background-color: white;
      color: black;
  }
  .navbar{
      background-color: black;
  }
  .navbar-default .navbar-brand {
      color: white;
  }
  .navbar-default .navbar-brand:hover{
      color: white;
  }
 /**********END OF NAVIGATION STYLE ************/
  /***********START OF Main Content Styles******* */

  #main-content {
    background-color: rgb(150, 150, 150);
    color: black;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  #main-content p{
      margin-top: 20px;
      padding: 2px;
      font-size: 1.3em;
  }
   /***********End OF Main Content Styles********/
