/********************* Base Styles *****************/

*{
    box-sizing: border-box;
}
body {
    font-family: 'Baloo Da 2', cursive;
}

h1{
    width: 150px;
    margin: auto;
}

.content{
    width: auto;
    margin: 10px;
    border: 2px solid black;
    margin-bottom: 15px;
    background-color: lightgray;
    clear: right;
    font-size: 1.1em;
}

.content h2{
    float: right;
    margin:auto;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

.content p{
    clear: both;
    padding: 0px 5px 5px 15px;
}

#chicken{
    background-color:rgb(235, 168, 179);
}

#beef{
    background-color: red;
}

#sushi{
    background-color:   rgb(255, 217, 0);
}

/******************* For Large Devices *********************/

@media (min-width:992px){

    .col-lg-3{
        float: left;
        width: 33%;
    }

}

/****************** For Medium Devices ************************/

@media (min-width:768px) and (max-width:991px){

    .col-md-6{
        float: left;
        width: 50%;
    }
    .col-md-12{
        float: left;
        width: 100%;
    }
}

/*********************For Small Devices ***********************/

@media (max-width:767px){

    .col-sm-12{
        float: left;
        width: 100%;
    }
}
